/* CuisineCard css */

.card-container {
  border-radius: 15px;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.card-container:hover {
  box-shadow: 5px 10px 10px rgba(240, 240, 240, 0.6);
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.6);
}

.imgbox {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#recipe-cuisine {
  padding-top: 80px;
  min-height: calc(100vh);
}

@media screen and (max-width: 767px) {
  #recipe-cuisine {
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 360px) {
  .card-container {
    height: 300px;
    width: 100%;
    margin-left: 7.5%;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    height: 300px;
    width: 100%;
    margin-right: -5%;
  }
}

/* TopRecipes css */
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css");
.custom-btn {
  transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
  background-color: #333;
  color: #f5f5f5;
}

.cuisine-card {
  border: 0;
  border-radius: 15px;
  color: #fcf7e3;
  background-color: #0000008f;
  box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.3);
}

.cuisine-card img {
  border-radius: 15px 15px 0 0;
}

.cuisine-card h2 {
  color: #ffffff;
}

.cuisine-card p {
  color: #ffffff;
}
